* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all var(--transition-speed) ease-in-out;
  transition: width none, height none;

  color: var(--text-color);
}

*::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
